DATABASE_URL="postgresql://postgres:1111@localhost:2000/postgres?schema=public"
RAWG_API_KEY=3213213123
OPENAI_API_KEY=323213121
POSTGRES_EXTERNAL_PORT=2000
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=1111