# DB
DATABASE_URL="postgresql://postgres:1111@localhost:2000/postgres?schema=public"

# RAWG
RAWG_API_KEY=3213213123

# AI
OPENAI_API_KEY=323213121
GEMINI_API_KEY=3232131212

# JWT
JWT_SECRET=365183e21880825a35c98d23a5516d65e370853eaa181...

# Gmail SMTP Configuration  
GMAIL_USER=smtp@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx

# Feedback
FEEDBACK_RECEIVER=test@gmail.com

# Frontend URL (Reset Password link)
FRONTEND_URL=http://localhost:3000