# DB
DATABASE_URL="postgresql://postgres:1111@localhost:2000/postgres?schema=public"

# RAWG
RAWG_API_KEY=3213213123

# AI
OPENAI_API_KEY=323213121
GEMINI_API_KEY=3232131212

# Postgres
POSTGRES_EXTERNAL_PORT=2000
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=11111

# JWT
JWT_SECRET=365183e21880825a35c98d23a5516d65e370853eaa1810806d14fd61c387bb6be41334055dffb24114565cd201d34a493933fe3fccd7653cc7d5fa8a799cd864

# Gmail SMTP Configuration  
GMAIL_USER=smtp@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx

# Frontend URL (Reset Password link)
FRONTEND_URL=http://localhost:3000